@using Microsoft.Extensions.Configuration
@using ECommerce.Application.Services.Configurations;
@inject IConfiguration Configuration
@inject IConfigurationService _configurationService
@{
    var config = await _configurationService.getConfiguration();
}

<!-- Chat box -->
<button class="chat-box-min">
    <span class="text">Gửi tin nhắn</span>
    <svg class="feather feather-message-square icon" xmlns="http://www.w3.org/2000/svg" width="42" height="42" 
        viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" style="margin: auto;">
        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
    </svg>
    <div class="dot-wrapper">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</button>

<div class="chat-box d-none">
    <div class="chat-header d-flex align-items-center justify-content-between">
        <div class="chat-header-wrapper d-flex align-items-center justify-content-center">
            <div class="header-img mr-2">
                <img src="@(Configuration["ImagePath:Favicon"] + config.FaviconPath)"
                     alt="">
            </div>
            <span>HiHiChi</span>
        </div>

        <span class="close-chat-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white"
                 stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-minus">
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </span>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="chat-body">
            <div class="welcome-message">
                <!-- <p>Xin chào, đây là hệ thống hỗ trợ khách hàng của HiHiChi. Anh/chị vui lòng cho biết thông tin cần hỗ
                    trợ?</p> -->
                <p>Hãy để lại thông tin của bạn chúng tôi sẽ liên hệ lại với bạn sớm nhất có thể</p>
            </div>
            <div class="chat-box-form-container">
                <form class="chat-box-form">
                    <div class="chat-box-form-control">
                        <input class="chat-box-input" name="name" type="text" required>
                        <label class="chat-box-label" for="name">
                            <span style="color: var(--red-noti);">*</span>
                            Tên
                        </label>
                    </div>
                    <div class="chat-box-form-control">
                        <input class="chat-box-input" name="phone" type="text">
                        <label class="chat-box-label" for="phone">
                            <span style="color: var(--red-noti);">*</span>
                            Số điện thoại
                        </label>
                    </div>
                    <div class="chat-box-form-control">
                        <textarea class="chat-box-input" name="text-content" type="text"></textarea>
                        <label class="chat-box-label" for="text-content">
                            <span style="color: var(--red-noti);">*</span>
                            Nội dung cần hỗ trợ
                        </label>
                    </div>
                </form>
                <div class="chat-box-button-wrapper">
                    <button class="w-100 send-offline-msg">
                        <p class="mb-0 d-flex align-items-center justify-content-center">
                            <!-- Bắt đầu -->
                            Gửi
                        <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                             stroke-linecap="round" stroke-linejoin="round" class="feather feather-send">
                                <line x1="22" y1="2" x2="11" y2="13"></line>
                                <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                            </svg>
                        </p>
                    </button>
                </div>
            </div>
        </div>
    }
    @if(User.Identity.IsAuthenticated){
        <div class="box-message-log">
            <div id="message-list-@ViewBag.UserId" class="message-list">
                <div class="message-wrapper message-left">
                    <span class="user-name">
                        <img src="@(Configuration["ImagePath:Favicon"] + config.FaviconPath)" alt="">
                        <label class="mb-0" style="margin-top: 0.5px;">Admin</label>
                    </span>
                    <div class="text msg-left" title="15:51:34, 17/12/2022">
                        Xin chào, đây là hệ thống hỗ trợ khách hàng của HihiChi. Anh/chị vui lòng cho biết thông tin cần
                        hỗ trợ?
                    </div>
                </div>
                <!-- <div class="message-wrapper message-right">
                    <span class="user-name" style="height: 24px;">
                        Nguyễn Văn A
                    </span>
                    <div class="text msg-right" title="15:51:34, 17/12/2022">
                        Xin chào, đây là hệ thống hỗ trợ khách hàng của HihiChi. Anh/chị vui lòng cho biết thông tin cần
                        hỗ trợ?
                    </div>
                </div> -->
            </div>
        </div>
        <div class="flex-al-jus-center chat-input">
            <input id="userInputId" type="text" value="@ViewBag.UserId" hidden />
            <input id="userInputName" type="text" value="@User.Identity.Name" hidden />
            <input id="messageInput" type="text" placeholder="Nhập tin nhắn" />
            <!--
            <label class="mb-0" for="chat-input-file" style="height: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-paperclip">
                    <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48">
                    </path>
                </svg>
            </label>
            <input id="chat-input-file" type="file" hidden>
            -->
            <div class="emoji-wrapper d-none">
                <ul class="emoji-list">
                    <!-- emoji here -->
                </ul>
            </div>
            <button id="button-emoji" class="button-send">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                 stroke="#707070" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-smile">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                    <line x1="9" y1="9" x2="9.01" y2="9"></line>
                    <line x1="15" y1="9" x2="15.01" y2="9"></line>
                </svg>
            </button>
            <button id="button-send" class="button-send">
                <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                 fill="none" stroke="#707070" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="22" y1="2" x2="11" y2="13"></line>
                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                </svg>
            </button>
        </div>
    }
    <!-- footer: copy right -->
    <div class="chat-footer">
        <p class="mb-0"><i class="far fa-copyright"></i> 2022 - Copyright by HiHiChi</p>
    </div>
</div>
<script type="text/javascript" src="/js/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="/js/main/client-chat.js"></script>
<script type="text/javascript">
    // ChatBox
    $(".chat-box-min").click(function () {
        $(this).addClass("d-none");
        $(".chat-box").removeClass("d-none");
    });
    $(".close-chat-box").click(function () {
        $(".chat-box").addClass("d-none");
        $(".chat-box-min").removeClass("d-none");
    });
    $(".chat-box-input")
        .focus(function () {
            $(this).siblings("label").addClass("label-active");
        })
        .blur(function () {
            if (!$(this).val()) {
                $(this).siblings("label").removeClass("label-active");
            }
        });
    $(".chat-box-label").click(function () {
        $(this).siblings(".chat-box-input").focus();
    });
</script>
<script type="text/javascript">
    $(".send-offline-msg").click(function(){
        var userName = $(".user-name").val();
        var phoneNumber = $(".phone-number").val();
        var textContent = $(".text-content").val();
        var params = {
            userName: userName,
            phoneNumber: phoneNumber,
            message: textContent
        }

        PostApi("/Home/SendOfflineMessage", params)
            .then(function(){
                alert("Gửi tin nhắn thành công")
            })
    })
</script>