@using ECommerce.Application.Constants;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thêm Blog</h6>
    </div>
    <div class="card-body">
        <div class="form-group mb-2">
            <label class="mr-2">Cột</label>
            <select class="form-control blog-position">
                @for (int i = 1; i <= 2; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>

        <div class="form-group mb-2">
            <label class="mr-2">Tiêu đề</label>
            <input class="form-control blog-title" value="">
        </div>

        <div class="form-group mb-2">
            <label>Nội dung</label>
            <textarea id="blog-content"></textarea>
        </div>

        <div class="text-center mt-4">
            <button class="btn-primary btn add-blog">Thêm</button>
        </div>
    </div>
</div>
<script>
    $('.add-blog').click(function () {
        var request = {
            BlogTitle: $('.blog-title').val(),
            BlogContent: tinymce.get("blog-content").getContent(),
            BlogPosition: $('.blog-position').val()
        };
        apiAddBlog(request);
    })
    function apiAddBlog(request) {
        PostApi("/ManageConfiguration/AddBlog", request)
            .then(function(res){
                console.log(res);
                alert(res.message);
                window.location.href = "/ManageConfiguration/ManageFooter";
            })
            .catch(function(error){
                console.log(error);
                alert(error.responseJSON.message)
            });
    }
</script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: '@ConfigConstant.TINY_PLUGINS',
        toolbar: '@ConfigConstant.TINY_TOOLBAR',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
</script>