@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý nhóm danh mục</h6>
    </div>
    <div class="card-body">
        <div class="form-inline mb-4">
            <div class="form-group">
                <label>Danh mục</label>
            </div>
            <div class="form-group mx-sm-3">
                <input class="form-control category-name">
            </div>
            <button class="btn btn-primary add-category">Thêm</button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered order-table" id="dataTable" width="100%"
                   cellspacing="0">
                <thead>
                    <tr>
                        <th>Danh mục</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CategoryName</td>
                            <td class="text-center">
                                <a class="btn btn-primary" href="@Url.Action("Detail", "ManageCategory", new { id = item.CategoryId })">Chi tiết</a>
                                <a class="btn btn-danger" onclick="deleteCategory(@item.CategoryId)">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('.add-category').click(function () {
        var request = {
            CategoryName: $('.category-name').val()
        };
        $.post("ManageCategory/Add", { request: request })
            .then(function (response) {
                alert(response);
                location.reload();
            })
            .catch(function (error) {
                console.log(error);
                alert(error.responseText);
            })
    })
    
    function deleteCategory(id) {
        if (confirm("Xác nhận xóa")) {
            $.post("ManageCategory/Delete", { id: id })
                .then(function (response) {
                    alert(response);
                    location.reload();
                })
                .catch(function (error) {
                    console.log(error);
                    alert(error.responseText);
                })
        }
    }
</script>
<script>
    $(document).on('click', '.add-option', function () {
        let val = $(this).siblings('.dropdown').find('input').val();
        if (!val?.trim()) { return; }

        $(this).parent().siblings('ul').append(`
            <li class="d-inline p-1 mr-2 mb-2"
                style="background-color: #ddd; border-radius: 4px;">
                <span class="text">${val}</span>
                <span class="remove-tag ml-2" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        viewBox="0 0 24 24" fill="none" stroke="#333"
                        stroke-width="1" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </span>
            </li>
        `)

        $(this).siblings('.dropdown').find('input').val('');
    })
</script>