@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách người dùng</h6>
    </div>
    <div class="card-body">
        <div class="page-data mb-4">
            <div class="table-responsive">
                <table class="table table-bordered order-table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Lọc</th>
                            <th>Ngày truy cập</th>
                            <th></th>
                            @*<th>Đến ngày</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Filter -->
                            <td>
                                <a href="/ManageUser/CurrentOnline?all=true" class="btn btn-primary">Làm mới</a>
                                <a href="/ManageUser/CurrentOnline?isOnline=true" class="btn btn-success">Đang hoạt động</a>
                                <a href="/ManageUser/CurrentOnline?isOffline=true" class="btn btn-dark">Không hoạt động</a>
                            </td>
                            <!-- From Date -->
                            <td class="font-weight-bold">
                                <!-- <div class="mt-2">
                                     <label for="from-date">Từ ngày</label>
                                    <input name="from-date" class="form-control" type="datetime-local" />
                                </div> 
                                <input name="from-date" class="form-control mb-4 date-picker" type="datetime-local" /> -->
                                <div class="d-flex align-items-center">
                                    <input name="from-date" class="form-control date-picker from-date mr-2" type="text" placeholder="Từ ngày" />
                                    <input name="to-date" class="form-control date-picker to-date mr-2" type="text" placeholder="Đến ngày" />
                                    <a href="javascript:void(0)" onclick="setToday()">Hôm nay</a>
                                </div>
                            </td>
                            <!-- To Date -->
                            @*<td class="font-weight-bold">
                                <!-- <div class="mt-2">
                                    <label for="to-date">Đến ngày</label>F
                                    <input name="to-date" class="form-control" type="datetime-local" />
                                </div> -->
                                <input name="to-date" class="form-control date-picker" type="text" placeholder="dd-mm-yyyy" />
                            </td>*@
                            <td class="text-center">
                                <a href="javascript:void(0)" class="btn btn-primary">Lọc</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="page-data mb-4">
            <div class="table-responsive">
                <table class="table table-bordered order-table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tổng truy cập trong hôm nay</th>
                            <th>Tổng truy cập trong tuần này</th>
                            <th>Tổng truy cập trong tháng này</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font-weight-bold" style="color: red;">
                                <div>4 giờ</div>
                                <div>16 lần</div>
                            </td>
                            <td class="font-weight-bold" style="color: red;">
                                <div>4 giờ</div>
                                <div>16 lần</div>
                            </td>
                            <td class="font-weight-bold" style="color: red;">
                                <div>4 giờ</div>
                                <div>16 lần</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered order-table" width="100%" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tên</th>
                        <th>Truy cập trong hôm nay</th>
                        <th>Truy cập trong tuần này</th>
                        <th>Truy cập trong tháng này</th>
                        <th>Lần hoạt động cuối cùng</th>
                        <th class="text-center">Hoạt động</th>
                    </tr>
                </thead>
                <tbody>
                    @if(ViewBag.List != null && ViewBag.List.Count > 0){
                        @foreach(var user in ViewBag.List){
                            <tr>
                                <td class="action_ text-center">
                                    <a href="@Url.Action("UserProfile", "ManageUser", new { id = user.UserId })" class="mr-2">Chi tiết</a>
                                    @*<a href="" class="mr-2">Chi tiết</a>*@
                                </td>
                                <td>@if(!string.IsNullOrEmpty(user.UserFullName)){@user.UserFullName}</td>
                                <td>
                                    <div>2 giờ</div>
                                    <div>8 lần</div>
                                </td>
                                <td>
                                    <div>2 giờ</div>
                                    <div>8 lần</div>
                                </td>
                                <td>
                                    <div>2 giờ</div>
                                    <div>8 lần</div>
                                </td>
                                <td id="user-lastonline-@user.UserId">
                                    @if (user.LastOnline != null && !user.IsOnline) {
                                        @user.LastOnline.ToString(ViewBag.DateTimeFormat)
                                    }
                                </td>
                                <td id="user-status-@user.UserId" class="text-center d-flex align-items-center user-status">
                                    @if (user.IsOnline) {
                                        <div class="mr-2" style="height: 18px; width: 18px; background: #31A24C; border-radius: 50%"></div>
                                        <label class="mb-0" style="color: #31A24C">Đang hoạt động</label>
                                    } else {
                                        <div class="mr-2" style="height: 18px; width: 18px; background: #a1a3a6; border-radius: 50%"></div>
                                        <label class="mb-0" style="color: #a1a3a6">Không hoạt động</label>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="/js/main/manage-online.js"></script>
<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({ format: 'dd-mm-yyyy' });
        $('.to-date').datepicker()
            .on("changeDate", function (e) {
                console.log(e);
            });
        $('.to-date').datepicker()
            .on("changeDate", function (e) {
                console.log(e);
            });
    });
    function setToday() {
        $('.from-date').datepicker("update", new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()));
        $('.to-date').datepicker("update", new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()));
    }
</script>