@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Không tìm thấy nội dung</title>
    <link rel="stylesheet" href="/css/accessdenied.css">
</head>
<body>
    <div class="message">
        <h1>KHÔNG TÌM THẤY NỘI DUNG</h1>
    </div>
    <div class="text-center">
        <a href="javascript:void(0)" onclick="goBack()">Quay lại</a>
    </div>
</body>
</html>

<script>
    function goBack(){
        window.location.href = "/";
    }
</script>