@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 NOT FOUND</title>
    <link rel="stylesheet" href="/css/accessdenied.css">
</head>
<body>
    <div class="message">
        <h1>KHÔNG TÌM THẤY NỘI DUNG</h1>
    </div>
</body>
</html>