@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Trang chủ</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
</div>

<!-- Content Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Đơn hàng mới
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">100</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Chưa thanh toán cho shop
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">2</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Cửa hàng mới
                        </div>
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">10</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Bình luận trong ngày
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Bình luận trong ngày</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered order-table" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ngày</th>
                                <th>Tên</th>
                                <th>Sản phẩm</th>
                                <th>Shop</th>
                                <th>Nội dung</th>
                                <th>Đánh giá</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12:30:00 - 31/12/2022</td>
                                <td>Nguyễn Văn A</td>
                                <td>Samsung Galaxy S22 Ultra 5G</td>
                                <td>Shop Demo 01</td>
                                <td style="max-width: 300px;">
                                    <div class="d-flex flex-wrap mb-2">
                                        <div class="d-flex align-items-center justify-content-between border p-1 mr-1" style="height: 100px; width: 100px;">
                                            <img class="mw-100 mh-100 mx-auto" src="/images/products/black.jpg" alt="">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border p-1 mr-1" style="height: 100px; width: 100px;">
                                            <img class="mw-100 mh-100 mx-auto" src="/assets/images/products/black.jpg" alt="">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border p-1 mr-1" style="height: 100px; width: 100px;">
                                            <img class="mw-100 mh-100 mx-auto" src="/assets/images/products/pro1.png" alt="">
                                        </div>
                                    </div>
                                    <p style="white-space: pre-line;">Hi shop.sao chai mình lại có thêm dòng chữ “ Eau De Toilette” trên thân chai vậy shop. Nhờ shop phản hồi lại dùm</p>
                                </td>
                                <td>5/5</td>
                                <td>
                                    <button class="btn btn-danger">Xóa</button>
                                </td>
                            </tr>
                            <tr>
                                <td>12:30:00 - 31/12/2022</td>
                                <td>Nguyễn Văn A</td>
                                <td>Samsung Galaxy S22 Ultra 5G</td>
                                <td>Shop Demo 01</td>
                                <td style="max-width: 300px;">
                                    <div class="d-flex flex-wrap mb-2">
                                        <div class="d-flex align-items-center justify-content-between border p-1 mr-1" style="height: 100px; width: 100px;">
                                            <img class="mw-100 mh-100 mx-auto" src="/assets/images/products/black.jpg" alt="">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border p-1 mr-1" style="height: 100px; width: 100px;">
                                            <img class="mw-100 mh-100 mx-auto" src="/assets/images/products/black.jpg" alt="">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border p-1 mr-1" style="height: 100px; width: 100px;">
                                            <img class="mw-100 mh-100 mx-auto" src="/assets/images/products/pro1.png" alt="">
                                        </div>
                                    </div>
                                    <p style="white-space: pre-line;">Hi shop.sao chai mình lại có thêm dòng chữ “ Eau De Toilette” trên thân chai vậy shop. Nhờ shop phản hồi lại dùm</p>
                                </td>
                                <td>5/5</td>
                                <td>
                                    <button class="btn btn-danger">Xóa</button>
                                </td>
                            </tr>
                            <tr>
                                <td>12:30:00 - 31/12/2022</td>
                                <td>Nguyễn Văn A</td>
                                <td>Samsung Galaxy S22 Ultra 5G</td>
                                <td>Shop Demo 01</td>
                                <td style="max-width: 300px;">
                                    <div class="d-flex flex-wrap mb-2">
                                        <div class="d-flex align-items-center justify-content-between border p-1 mr-1" style="height: 100px; width: 100px;">
                                            <img class="mw-100 mh-100 mx-auto" src="/assets/images/products/black.jpg" alt="">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border p-1 mr-1" style="height: 100px; width: 100px;">
                                            <img class="mw-100 mh-100 mx-auto" src="/assets/images/products/black.jpg" alt="">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border p-1 mr-1" style="height: 100px; width: 100px;">
                                            <img class="mw-100 mh-100 mx-auto" src="/assets/images/products/pro1.png" alt="">
                                        </div>
                                    </div>
                                    <p style="white-space: pre-line;">Hi shop.sao chai mình lại có thêm dòng chữ “ Eau De Toilette” trên thân chai vậy shop. Nhờ shop phản hồi lại dùm</p>
                                </td>
                                <td>5/5</td>
                                <td>
                                    <button class="btn btn-danger">Xóa</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>