@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lấy lại mật khẩu</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Lấy lại mật khẩu</h1>
                                    </div>
                                    <div class="login-form">
                                        <div id="recaptcha-container"></div>
                                        <div class="form-group d-flex">
                                            <input type="tel" class="form-control form-control-user mr-2"
                                                   id="number" aria-describedby="emailHelp"
                                                   placeholder="Số điện thoại">
                                            <button class="btn btn-primary" style="white-space: nowrap;" onclick="checkPhoneNumber()">Xác minh</button>
                                        </div>

                                        @*<div class="form-group verify-form">
                                                <input type="tel" class="form-control form-control-user"
                                                       id="verificationCode" placeholder="OTP">

                                                <button class="btn btn-primary" onclick="codeverify()">Xác thực</button>
                                            </div>

                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user new-password"
                                                       placeholder="Nhập mật khẩu mới">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user re-password"
                                                       placeholder="Nhập lại mật khẩu mới">
                                            </div>
                                            <button class="btn btn-primary btn-user btn-block" onclick="resetPassword()">Đổi mật khẩu</button>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
    <script>
        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyAfm5iGMdqzyywA8SIgeb3yVxagAvXx37k",
            authDomain: "webdemo-36ffd.firebaseapp.com",
            projectId: "webdemo-36ffd",
            storageBucket: "webdemo-36ffd.appspot.com",
            messagingSenderId: "990883187347",
            appId: "1:990883187347:web:322028298811b48a5adb66",
            measurementId: "G-GDXSSSDVE9"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        window.onload = function () {
            render();
        };
        function render() {
            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
            recaptchaVerifier.render();
        }

        function checkPhoneNumber() {
            var PhoneNumber = document.getElementById('number').value;

            if (!PhoneNumber.includes('+84')) {
                PhoneNumber = '+84' + PhoneNumber;
            }

            $.ajax({
                url: '/api/AccountAPI/CheckUserPhoneNumber',
                data: JSON.stringify(PhoneNumber),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                success: function (data) {
                    alert("Số điện thoại không tồn tại")
                    return;
                },
                error: function (data) {
                    phoneAuth(PhoneNumber);
                    return;
                }
            });
        }

        function phoneAuth(scnum) {
            //phone number authentication function of firebase
            //it takes two parameter first one is number,,,second one is recaptcha
            firebase.auth().signInWithPhoneNumber(scnum, window.recaptchaVerifier)
                .then(function (confirmationResult) {
                    //s is in lowercase
                    window.confirmationResult = confirmationResult;
                    coderesult = confirmationResult;
                    renderFormVerifyCode();
                }).catch(function (error) {
                    alert(error.message);
                });
        }

        function codeverify() {
            var code = document.getElementById('verificationCode').value;
            coderesult.confirm(code)
                .then(function (result) {
                    //var user = result.user;
                    //console.log(user);
                    renderFormInformation();
                }).catch(function (error) {
                    console.log(error.message);
                });
        }

        function resetPassword() {
            var request = {
                PhoneNumber: $('#number').val(),
                NewPassword: $('.new-password').val(),
                RePassword: $('.re-password').val()
            }
            apiResetPassword(request);
        }

        function apiResetPassword(request) {
            $.ajax({
                url: '/api/AccountAPI/ResetPassword',
                data: JSON.stringify(request),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                success: function (data) {
                    alert(data.message);
                    window.location.href = "/Admin/SignOut";
                    return;
                },
                error: function (data) {
                    console.log(data)
                    alert(data.responseJSON.message);
                    return;
                }
            });
        }

        function renderFormVerifyCode() {
            $('#recaptcha-container').remove();
            $('.verify-phonenumber').remove();
            $('#number').prop('disabled', true);
            $('.login-form').append(`
                <div class="form-group">
                    <input type="tel" class="form-control form-control-user"
                            id="verificationCode" placeholder="OTP">

                    <button class="btn btn-primary" onclick="codeverify()">Xác thực</button>
                </div>
            `);
        }
        function renderFormInformation() {
            $('.verify-form').remove();
            $('.login-form').append(`
                <div class="form-group">
                    <input type="password" class="form-control form-control-user new-password"
                            placeholder="Nhập mật khẩu mới">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user re-password"
                            placeholder="Nhập lại mật khẩu mới">
                </div>
                <button class="btn btn-primary btn-user btn-block" onclick="resetPassword()">Đổi mật khẩu</button>
            `);
        }
    </script>
</body>

</html>
