@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Thêm Shop</h6>
    </div>
    <div class="card-body p-2">
        <form class="mx-auto">
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <div class="text-left mb-2 text-primary"><strong>Thông tin cơ bản</strong></div>
                    <div class="form-group mb-4">
                        <label>Tên shop</label>
                        <input type="text" class="form-control shop-name" value="">
                    </div>
                    <div class="form-group mb-4">
                        <label>Số điện thoại</label>
                        <input type="text" class="form-control shop-phone" value="">
                    </div>
                    <div class="form-group mb-4">
                        <label>Email</label>
                        <input type="text" class="form-control shop-mail" value="">
                    </div>
                    <div class="form-group mb-4">
                        <div class="location mb-2">
                            <label>Địa chỉ</label>
                            <input type="text" class="form-control shop-address" value="">
                        </div>
                        <div class="location mb-2">
                            <select name="" id="" class="shop-city city-select w-100 form-control">
                                <option value="" disabled selected>Tỉnh/Thành...</option>
                            </select>
                        </div>
                        <div class="location mb-2">
                            <select name="" id="" class="shop-district district-select w-100 form-control">
                                <option value="" disabled selected>Quận/Huyện...</option>
                            </select>
                        </div>
                        <div class="location mb-2">
                            <select name="" id="" class="shop-ward ward-select w-100 form-control">
                                <option value="" disabled selected>Phường/Xã...</option>
                            </select>
                        </div>
                    </div>
                    @*<div class="form-group mb-4">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" class="user-active mr-2" id="isActive" checked>
                            <label class="mb-0" for="isActive" style="color: green">Đã xác thực</label>
                        </div>
                    </div>*@
                    <div class="text-left mb-2 text-primary"><strong>Thông tin ngân hàng</strong></div>
                    <div class="form-group mb-4">
                        <label>Ngân hàng</label>
                        <input type="text" class="form-control shop-bankname" value="">
                    </div>
                    <div class="form-group mb-4">
                        <label>Tên tài khoản</label>
                        <input type="text" class="form-control shop-accountname" value="">
                    </div>
                    <div class="form-group mb-4">
                        <label>Số tài khoản</label>
                        <input type="text" class="form-control shop-accountnumber" value="">
                    </div>

                    <div class="text-left mb-2 text-primary"><strong>Thông tin bán hàng</strong></div>
                    <div class="form-group mb-4">
                        <label>Chiết khấu %</label>
                        <input type="number" class="form-control shop-tax" value="" max="100">
                    </div>
                    <div class="form-group mb-4">
                        <div class="form-group">
                            <label>Thương hiệu quản lý</label>
                            <div class="dropdown mb-2 mr-2">
                                <button class="btn border dropdown-toggle brand_select-text" type="button" data-toggle="dropdown">
                                    Thương hiệu
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu px-2" style="max-height: 300px; overflow: auto;">
                                    <input class="form-control mb-2" id="myInput" type="text" placeholder="Tìm thương hiệu..." autocomplete="off" />
                                    @foreach (var item in Model)
                                    {
                                        <li class="d-flex align-items-center">
                                            <input name="brand" class="brand_select mr-2" id="br_@item.BrandId" type="checkbox" value="@item.BrandId">
                                            <label class="mb-0" for="br_@item.BrandId">@item.BrandName</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-secondary discard-changes">Hủy</button>
                <button type="button" class="btn btn-primary add-shop">Lưu</button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/main/provinces-rendering.js"></script>
<script src="https://cdn.tiny.cloud/1/4ctr9pi6o8mlflu8si6gdszgl62tn4zl73knhf3tkqalszsx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    $(".discard-changes").click(function () {
        location.reload();
    });
    $(".add-shop").click(function () {
        var list = [];
        $(".brand_select").each(function () {
            if ($(this).is(":checked")) {
                list.push($(this).val());
            }
        });

        var request = {
            name: $('.shop-name').val(),
            phone: $('.shop-phone').val(),
            mail: $('.shop-mail').val(),
            address: $('.shop-address').val(),
            wardCode: $('.shop-ward').val(),
            districtCode: $('.shop-district').val(),
            cityCode: $('.shop-city').val(),

            tax: $('.shop-tax').val(),
            brandIds: list,

            bankName: $('.shop-bankname').val(),
            accountNumber: $('.shop-accountnumber').val(),
            bankAccount: $('.shop-accountname').val(),
        };
        //$.post("/ManageShop/AddShop", request)
        //    .then(function (response) {
        //        alert(response);
        //        return;
        //    })
        //    .catch(function (error) {
        //        console.log(error);
        //        alert(error.responseText);
        //        return;
        //    })
        PostApi("/ManageShop/AddShop", request)
            .then(function (response) {
                alert(response);
                return;
            })
    })
</script>