@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - 403 Forbidden</title>
    <link rel="stylesheet" href="/css/accessdenied.css">
</head>
<body>
    <div class="lock"></div>
    <div class="message">
        <h1>Truy cập bị từ chối</h1>
    </div>
</body>
</html>