@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = "~/Views/Shared/_LayoutClientNoBanner.cshtml";
}
<!-- Main content -->
<div class="custom-container py-4">
    <div class="signup__wrapper">
        <ul class="web__directional">
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("ResetPassword","Account")">Quên mật khẩu</a></li>
        </ul>
        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                             class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <div class="login-form">
                            <div class="mb-2" id="recaptcha-container"></div>
                            <!-- Email input -->
                            <div class="mb-4 form-input d-flex">
                                <span><i class="fas fa-mobile-alt"></i></span>
                                <input type="text" id="number" class="form-control form-control-lg"
                                       placeholder="Nhập số điện thoại" />
                                <button class="btn-black verify-phonenumber" onclick="checkPhoneNumber()" style="white-space: nowrap;">Xác minh</button>
                            </div>

                            <!-- Otp input -->
                            @*<div class="mb-4 form-input d-flex">
                                <span><i class="fa-solid fa-key"></i></span>
                                <input type="text" id="verificationCode" class="form-control form-control-lg"
                                       placeholder="Mã xác nhận" />
                                <button class="btn-black verify-otp" onclick="codeverify()" style="white-space: nowrap;">Xác thực</button>
                            </div>*@

                            <!-- Password input -->
                            @*<div class="mb-3 form-input">
                                <span><i class="fa-solid fa-lock"></i></span>
                                <input type="password" id="form3Example4" class="form-control form-control-lg"
                                       placeholder="Nhập mật khẩu mới" />
                            </div>*@
                            <!-- Password input -->
                            @*<div class="mb-3 form-input">
                                <span><i class="fa-solid fa-lock"></i></span>
                                <input type="password" id="form3Example4" class="form-control form-control-lg"
                                       placeholder="Nhập lại mật khẩu mới" />
                            </div>

                            <div class="login text-center text-lg-start mt-4 pt-2">
                                <button class="btn-black">Đổi mật khẩu</button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
<script>
    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyAfm5iGMdqzyywA8SIgeb3yVxagAvXx37k",
        authDomain: "webdemo-36ffd.firebaseapp.com",
        projectId: "webdemo-36ffd",
        storageBucket: "webdemo-36ffd.appspot.com",
        messagingSenderId: "990883187347",
        appId: "1:990883187347:web:322028298811b48a5adb66",
        measurementId: "G-GDXSSSDVE9"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    window.onload = function () {
        render();
    };
    function render() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }

    function checkPhoneNumber() {
        var PhoneNumber = document.getElementById('number').value;

        if (!PhoneNumber.includes('+84')) {
            PhoneNumber = '+84' + PhoneNumber;
        }

        //$.ajax({
        //    url: '/api/AccountAPI/CheckUserPhoneNumber',
        //    data: JSON.stringify(PhoneNumber),
        //    dataType: 'json',
        //    contentType: 'application/json; charset=utf-8',
        //    type: 'POST',
        //    success: function (data) {
        //        alert("Số điện thoại không tồn tại")
        //        return;
        //    },
        //    error: function (data) {
        //        phoneAuth(PhoneNumber);
        //        return;
        //    }
        //});
        AjaxPost('/api/AccountAPI/CheckUserPhoneNumber', PhoneNumber)
            .then(function (res) {
                alert("Số điện thoại không tồn tại");
            })
            .catch(function (error) {
                phoneAuth(PhoneNumber);
            })
    }

    function phoneAuth(scnum) {
        //phone number authentication function of firebase
        //it takes two parameter first one is number,,,second one is recaptcha
        firebase.auth().signInWithPhoneNumber(scnum, window.recaptchaVerifier)
            .then(function (confirmationResult) {
                //s is in lowercase
                window.confirmationResult = confirmationResult;
                coderesult = confirmationResult;
                renderFormVerifyCode();
            }).catch(function (error) {
                alert(error.message);
            });
    }

    function codeverify() {
        var code = document.getElementById('verificationCode').value;
        coderesult.confirm(code)
            .then(function (result) {
                //var user = result.user;
                //console.log(user);
                renderFormInformation();
            }).catch(function (error) {
                console.log(error.message);
            });
    }

    function resetPassword(){
        var request = {
            PhoneNumber: $('#number').val(),
            NewPassword: $('.new-password').val(),
            RePassword: $('.re-password').val()
        }
        apiResetPassword(request);
    }

    function apiResetPassword(request) {
        //$.ajax({
        //    url: '/api/AccountAPI/ResetPassword',
        //    data: JSON.stringify(request),
        //    dataType: 'json',
        //    contentType: 'application/json; charset=utf-8',
        //    type: 'POST',
        //    success: function (data) {
        //        alert(data.message);
        //        window.location.href = "/Account/SignOut";
        //        return;
        //    },
        //    error: function (data) {
        //        console.log(data)
        //        alert(data.responseJSON.message);
        //        return;
        //    }
        //});
        AjaxPost('/api/AccountAPI/ResetPassword', request)
            .then(function (res) {
                alert(res.message);
                window.location.href = "/Account/SignOut";
            })
    }

    function renderFormVerifyCode() {
        $('#recaptcha-container').remove();
        $('.verify-phonenumber').remove();
        $('#number').prop('disabled', true);
        $('.login-form').append(`
            <div class="mb-4 form-input d-flex verify-form">
                <span><i class="fa-solid fa-key"></i></span>
                <input type="text" id="verificationCode" class="form-control form-control-lg"
                        placeholder="Mã xác nhận" />
                <button class="btn-black verify-otp" onclick="codeverify()" style="white-space: nowrap;">Xác thực</button>
            </div>
        `);
    }
    function renderFormInformation() {
        $('.verify-form').remove();
        $('.login-form').append(`
            <div class="mb-3 form-input">
                <span><i class="fa-solid fa-lock"></i></span>
                <input type="password" id="form3Example4" class="form-control form-control-lg new-password"
                        placeholder="Nhập mật khẩu mới" />
            </div>

            <div class="mb-3 form-input">
                <span><i class="fa-solid fa-lock"></i></span>
                <input type="password" id="form3Example4" class="form-control form-control-lg re-password"
                        placeholder="Nhập lại mật khẩu mới" />
            </div>

            <div class="login text-center text-lg-start mt-4 pt-2">
                <button class="btn-black" onclick="resetPassword()">Đổi mật khẩu</button>
            </div>
        `)
    }
</script>