@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = "~/Views/Shared/_LayoutClientNoBanner.cshtml";
}
<!-- Main content -->
<div class="custom-container py-4">
    <div class="signup__wrapper">
        <ul class="web__directional">
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("SignIn","Account")">Đăng nhập</a></li>
        </ul>
        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                             class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <div class="login-form">
                            <!-- Phonenumber input -->
                            <div class="mb-4 form-input">
                                <span><i class="fas fa-mobile-alt"></i></span>
                                <input type="text" id="clientPhoneNumber" class="form-control form-control-lg"
                                       placeholder="Nhập số điện thoại" autocomplete="off"/>
                            </div>
                            <!-- Password input -->
                            <div class="mb-3 form-input">
                                <span><i class="fa-solid fa-lock"></i></span>
                                <input type="password" id="clientPassword" class="form-control form-control-lg"
                                       placeholder="Nhập mật khẩu" />
                            </div>
                            <div class="d-flex justify-content-between">
                                <a href="@Url.Action("SignUp", "Account")" class="text-body">Tạo tài khoản mới</a>
                                <a href="" class="text-body">Quên mật khẩu ?</a>
                            </div>
                            <div class="login text-center text-lg-start mt-4 pt-2">
                                <button class="signin btn-black">Đăng nhập</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    // Events
    $('.signin').click(function () {
        signIn();
    })

    function signIn() {
        var request = {
            UserPhone: $('#clientPhoneNumber').val(),
            Password: $('#clientPassword').val(),
        }
        var url = '@ViewData["ReturnUrl"]';
        apiSignIn(request, url);
    }

    // API methods
    function apiSignIn(request, returnUrl) {
        $.ajax({
            url: '/api/AccountAPI/SignIn',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                alert(data.message);
                window.location.href = returnUrl;
                return;
            },
            error: function (data) {
                console.log(data);
                alert(data.responseJSON.message);
                return;
            }
        });
    }

</script>