@{
    Layout = "~/Views/Shared/_LayoutClientNoBanner.cshtml";
}
<!-- Main contain -->
<div class="custom-container">
    <div class="content__wrapper products__content-wrapper">
        <div class="content__inner w-100">
            <ul class="web__directional">
                <li>
                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                </li>
                <li>
                    <a href="@Url.Action("UserProfile", "Account")">Hồ sơ cá nhân</a>
                </li>
            </ul>
            <hr>
            <div class="user__profile-wrapper row">
                <div class="col-md-2 col-xs-12 mb-4">
                    <div class="tabs-control">
                        @await Component.InvokeAsync("UserProfileMenu")
                    </div>
                </div>

                <div class="col-md-10 col-xs-12 mb-4">
                    <div class="tabs-content">
                        <div class="tab-content">
                            <div class="text-center">
                                <div class="title"><strong>CẬP NHẬT MẬT KHẨU</strong></div>
                            </div>
                            <div class="user__info-form mx-auto">
                                <div class="form-group mb-4">
                                    <label>Mật khẩu hiện tại</label>
                                    <div class="d-flex align-items-center">
                                        <input type="password" class="current-password form-control" placeholder="Nhập mật khẩu hiện tại" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label>Mật khẩu mới</label>
                                    <div class="d-flex align-items-center mb-2">
                                        <input type="password" class="new-password form-control" placeholder="Nhập mật khẩu mới" autocomplete="off">
                                    </div>
                                    <div class="d-flex align-items-center mb-2">
                                        <input type="password" class="re-password form-control" placeholder="Nhập lại mật khẩu" autocomplete="off">
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button class="update-userpassword btn-black">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.update-userpassword').click(function () {
        var request = {
            CurrentPassword: $('.current-password').val(),
            NewPassword: $('.new-password').val(),
            RePassword: $('.re-password').val()
        }
        apiUpdateUserPassword(request);
    })

    function apiUpdateUserPassword(request) {
        $.ajax({
            url: '/api/AccountAPI/UpdateUserPassword',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                alert(data.message);
                window.location.href = "/Account/SignOut";
                return;
            },
            error: function (data) {
                alert(data.responseJSON.message);
                return;
            }
        });
    }
</script>