@{
    Layout = "~/Views/Shared/_LayoutClientNoBanner.cshtml";
}
<!-- Main contain -->
<div class="custom-container">
    <div class="content__wrapper products__content-wrapper">
        <div class="content__inner w-100">
            <ul class="web__directional">
                <li>
                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                </li>
                <li>
                    <a href="@Url.Action("UserProfile", "Account")">Hồ sơ cá nhân</a>
                </li>
            </ul>
            <hr>
            <div class="user__profile-wrapper row">
                <div class="col-md-2 col-xs-12 mb-4">
                    <div class="tabs-control">
                        @await Component.InvokeAsync("UserProfileMenu")
                    </div>
                </div>

                <div class="col-md-10 col-xs-12 mb-4">
                    <div class="tabs-content">
                        <div class="tab-content">
                            <div class="text-center">
                                <div class="title"><strong>CẬP NHẬT SỐ ĐIỆN THOẠI</strong></div>
                            </div>
                            <div class="user__info-form mx-auto">
                                <div class="form-group mb-2">
                                    <label>Số điện thoại</label>
                                    <div class="d-flex align-items-center">
                                        <input id="number" type="tel" class="form-control" aria-describedby="emailHelp" placeholder="Nhập số điện thoại mới">
                                    </div>
                                </div>
                                <div class="mb-2" id="recaptcha-container"></div>
                                <div class="verify-form form-group mb-2 d-flex justify-content-between">
                                    <button class="btn-black w-100" onclick="checkPhoneNumber()">Xác minh</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
<script>
    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyAfm5iGMdqzyywA8SIgeb3yVxagAvXx37k",
        authDomain: "webdemo-36ffd.firebaseapp.com",
        projectId: "webdemo-36ffd",
        storageBucket: "webdemo-36ffd.appspot.com",
        messagingSenderId: "990883187347",
        appId: "1:990883187347:web:322028298811b48a5adb66",
        measurementId: "G-GDXSSSDVE9"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    window.onload = function () {
        render();
    };
    function render() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }
    function updatePhoneNumber() {
        var PhoneNumber = document.getElementById('number').value;
        $.ajax({
            url: '/api/AccountAPI/UpdateUserPhoneNumber',
            data: JSON.stringify(PhoneNumber),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                alert(data.message);
                window.location.href("Account/UserProfile");
                return;
            },
            error: function (data) {
                alert(data.message);
                return;
            }
        });
    }
    function checkPhoneNumber() {
        var PhoneNumber = document.getElementById('number').value;
        if (!PhoneNumber.includes('+84')) {
            PhoneNumber = '+84' + PhoneNumber;
        }
        $.ajax({
            url: '/api/AccountAPI/CheckUserPhoneNumber',
            data: JSON.stringify(PhoneNumber),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                phoneAuth(PhoneNumber);
                return;
            },
            error: function (data) {
                alert(data.responseJSON.message);
                return;
            }
        });
    }
    function phoneAuth(scnum) {
        //phone number authentication function of firebase
        //it takes two parameter first one is number,,,second one is recaptcha
        firebase.auth().signInWithPhoneNumber(scnum, window.recaptchaVerifier)
            .then(function (confirmationResult) {
                //s is in lowercase
                window.confirmationResult = confirmationResult;
                coderesult = confirmationResult;
                renderVerifyForm();
            }).catch(function (error) {
                alert(error.message);
            });
    }
    function codeverify() {
        var code = document.getElementById('verificationCode').value;
        coderesult.confirm(code)
            .then(function (result) {
                //var user = result.user;
                //console.log(user);
                renderSubmit()
            }).catch(function (error) {
                console.log(error.message);
            });
    }

    function renderVerifyForm() {
        $('.verify-form').html(`
            <input class="form-control mr-2" type="text" id="verificationCode" placeholder="Nhập mã OTP">
            <button class="btn-black" style="white-space: nowrap;" onclick="codeverify()">Xác minh</button>
        `);
    }
    function renderSubmit() {
        $('.verify-form').html(`
            <button class="btn-black w-100" onclick="updatePhoneNumber()">Cập nhật</button>
        `);
    }
</script>