<!-- Main contain -->
<div class="custom-container">
    <div class="content__wrapper products__content-wrapper">
        <div class="content__inner w-100">
            <ul class="web__directional">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="@Url.Action("BlogDetail", "Home", new { BlogId = @Model.BlogId })">@Model.BlogTitle</a></li>
            </ul>
            <div class="blog-conent">
                @Html.Raw(Model.BlogContent)
            </div>
        </div>
    </div>
</div>