

<!-- Main contain -->
<div class="custom-container">
    <div class="content__wrapper products__content-wrapper">
        <div class="content__inner w-100">
            <ul class="web__directional">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="">Thương hiệu</a></li>
                <li><a href="">Thế giới di động</a></li>
            </ul>
            <div class="products__content d-flex">
                <div class="products__menu">
                    <div class="product__filter">
                        <div class="filter__block">
                            <h3 class="filter__title">
                                Đồng hồ <svg xmlns='http://www.w3.org/2000/svg' width='24'
                                             height='24' viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                             stroke-linecap='round' stroke-linejoin='round'
                                             class='feather feather-chevron-right'>
                                    <polyline points='9 18 15 12 9 6'></polyline>
                                </svg>
                            </h3>
                            <ul class="filter__list filter--scrollbar">
                                <li class="filter__item">
                                    <p class="mb-0"><i class="fas fa-caret-down"></i> Loại dây</p>
                                    <ul class="filter__sub-list">
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_daykimloai" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_daykimloai"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">Dây kim loại</div><span class="sub-item-cate">(25)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_dayda" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_dayda"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">Dây da</div><span class="sub-item-cate">(316)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_daynhua" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_daynhua"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">Dây nhựa</div><span class="sub-item-cate">(146)</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="filter__item">
                                    <p class="mb-0"><i class="fas fa-caret-down"></i> Kích thước</p>
                                    <ul class="filter__sub-list">
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_44" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_44"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">44</div><span>(20)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_42" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_42"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">42</div><span>(999)</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="filter__item">
                                    <p class="mb-0"><i class="fas fa-caret-down"></i> Giới tính</p>
                                    <ul class="filter__sub-list">
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_nam" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_nam"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">Nam</div>
                                                    <span class="sub-item-cate">(20)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_nu" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_nu"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">Nữ</div>
                                                    <span class="sub-item-cate">(18)</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="filter__block">
                            <h3 class="filter__title">
                                Điện thoại <svg xmlns='http://www.w3.org/2000/svg'
                                                width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                class='feather feather-chevron-right'>
                                    <polyline points='9 18 15 12 9 6'></polyline>
                                </svg>
                            </h3>
                            <ul class="filter__list filter--scrollbar">
                                <li class="filter__item">
                                    <p class="mb-0"><i class="fas fa-caret-down"></i> Iphone</p>
                                    <ul class="filter__sub-list">
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_13series" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_13series"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">13 Series</div><span class="sub-item-cate">(25)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_12series" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_12series"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">12 Series</div><span class="sub-item-cate">(316)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_11series" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_11series"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">11 Series</div><span class="sub-item-cate">(146)</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="filter__item">
                                    <p class="mb-0"><i class="fas fa-caret-down"></i> Sangsung</p>
                                    <ul class="filter__sub-list">
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_sseries" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_sseries"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">S Series</div><span>(20)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_noteseries" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_noteseries"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">Note Series</div>
                                                    <span>(999)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filter__sub-item">
                                            <div class="checkbox d-flex align-items-center">
                                                <input id="check__sub-item_aseries" class="checkboxFilter"
                                                       type="checkbox" value="">
                                                <label for="check__sub-item_aseries"
                                                       class="d-flex align-items-center mb-0">
                                                    <div class="sub-item-cate">A Series</div><span>(999)</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="products__list">
                    <div class="filter__control-top">
                        <!-- Dropdown order list-->
                        <div class="order__item-wrapper order__button">
                            <div class="order__item-dropdown">
                                Tất cả
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1"
                                     stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-chevron-down svg-order">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </div>
                            <div class="order__item-dropdown_menu">
                                <div class="order__item-dropdown_items">
                                    <a class="order__item d-none">
                                        Tất cả<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                   viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                   stroke-linecap='round' stroke-linejoin='round'
                                                   class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item">
                                        Mẫu mới nhất<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                         viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                         stroke-linecap='round' stroke-linejoin='round'
                                                         class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item">
                                        Giá thấp - cao<svg xmlns='http://www.w3.org/2000/svg'
                                                           width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                           stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                           class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item">
                                        Giá cao - thấp<svg xmlns='http://www.w3.org/2000/svg'
                                                           width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                           stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                           class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item">
                                        Đang giảm giá %<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                            stroke-linecap='round' stroke-linejoin='round'
                                                            class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product__filter-wrapper">
                            <div class="product__filter-dropdown filter__button">
                                Chọn lọc
                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                     stroke-linecap='round' stroke-linejoin='round'
                                     class='feather feather-chevron-left'>
                                    <polyline points='15 18 9 12 15 6'></polyline>
                                </svg>
                            </div>
                            <div class="product__filter-dropdown-menu">
                                <div class="product__filter-header text-center p-4">
                                    <div class="w-100 px-4">
                                        <img style="max-height: 55px; max-width: 100%;" class="" src="assets/images/logo/healthy-care.jpg" alt="">
                                    </div>

                                    <p class="mb-0">Thế giới di động</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="filter-close feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="filter__menu-wrapper">
                                    <div class="filter__menu-items">
                                        <div class="filter__block-mobile">
                                            <p class="filter__item-title mb-0 d-flex justify-content-between align-items-center">
                                                Đồng Hồ
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333'
                                                     stroke-width='1' stroke-linecap='round'
                                                     stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </p>
                                            <ul class="filter__items-mobile">
                                                <li class="filter__item-mobile">
                                                    <p class="mb-0">
                                                        <i class="fas fa-caret-down"></i> Loại dây
                                                    </p>
                                                    <ul class="filter__sub-items-mobile">
                                                        <li>
                                                            <input id="checkbox__mobile-daykimloai"
                                                                   type="checkbox"> <label class="mb-0"
                                                                                           for="checkbox__mobile-daykimloai">Dây kim loại</label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-dayda" type="checkbox">
                                                            <label class="mb-0" for="checkbox__mobile-dayda">Dây da</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="filter__item-mobile">
                                                    <p class="mb-0">
                                                        <i class="fas fa-caret-down"></i> Kích thước
                                                    </p>
                                                    <ul class="filter__sub-items-mobile">
                                                        <li>
                                                            <input id="checkbox__mobile-44" type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-44">44</label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-42" type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-42">42</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="filter__block-mobile">
                                            <p class="filter__item-title mb-0 d-flex justify-content-between align-items-center">
                                                Điện thoại
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333'
                                                     stroke-width='1' stroke-linecap='round'
                                                     stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </p>
                                            <ul class="filter__items-mobile">
                                                <li class="filter__item-mobile">
                                                    <p class="mb-0"><i class="fas fa-caret-down"></i> Iphone</p>
                                                    <ul class="filter__sub-items-mobile">
                                                        <li>
                                                            <input id="checkbox__mobile-13series"
                                                                   type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-13series">
                                                                13
                                                                Series
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-12series"
                                                                   type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-12series">
                                                                12
                                                                Series
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="filter__item-mobile">
                                                    <p class="mb-0">
                                                        <i class="fas fa-caret-down"></i> Samsung
                                                    </p>
                                                    <ul class="filter__sub-items-mobile">
                                                        <li>
                                                            <input id="checkbox__mobile-sss" type="checkbox">
                                                            <label class="mb-0" for="checkbox__mobile-sss">
                                                                S
                                                                Series
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-ssnote" type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-ssnote">
                                                                Note
                                                                Series
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-ssa" type="checkbox">
                                                            <label class="mb-0" for="checkbox__mobile-ssa">
                                                                A
                                                                Series
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="filter__block-mobile">
                                            <p class="filter__item-title mb-0 d-flex justify-content-between align-items-center">
                                                Sạc dự phòng
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333'
                                                     stroke-width='1' stroke-linecap='round'
                                                     stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </p>
                                            <ul class="filter__items-mobile">
                                                <li class="filter__item-mobile">
                                                    <p class="mb-0"><i class="fas fa-caret-down"></i> </p>
                                                    <ul class="filter__sub-items-mobile">
                                                        <li>
                                                            <input id="checkbox__mobile-70000mah"
                                                                   type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-70000mah">
                                                                70000
                                                                mah
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-60000mah"
                                                                   type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-60000mah">
                                                                60000
                                                                mah
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-50000mah"
                                                                   type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-50000mah">
                                                                50000
                                                                mah
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-30000mah"
                                                                   type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-30000mah">
                                                                30000
                                                                mah
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-20000mah"
                                                                   type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-20000mah">
                                                                20000
                                                                mah
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-10000mah"
                                                                   type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-10000mah">
                                                                10000
                                                                mah
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input id="checkbox__mobile-5000mah"
                                                                   type="checkbox">
                                                            <label class="mb-0"
                                                                   for="checkbox__mobile-5000mah">5000 mah</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Number / total -->
                        <div class="filter__number">
                            <div class="text">Hiển thị: </div>
                            <div class="number">
                                <span>999</span>
                                /
                                <span class="totalItems">1000</span>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="filter__pagination">
                            <ul class="pagination">
                                <li class="pagination-item pagination-item__page previous" data-page="1">
                                    <a class="pagination-link pagination-item__page" style="height: 24px;">
                                        <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                             viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                             stroke-linecap='round' stroke-linejoin='round'
                                             class='feather feather-chevron-left'>
                                            <polyline points='15 18 9 12 15 6'></polyline>
                                        </svg>
                                    </a>
                                </li>
                                <li class="pagination-item pagination-item__page" data-page="1">
                                    <a class="pagination-link">1</a>
                                </li>
                                <li class="pagination-item pagination-item__page active" data-page="2">
                                    <a class="pagination-link">2</a>
                                </li>
                                <li class="pagination-item pagination-item__page" data-page="3">
                                    <a class="pagination-link">3</a>
                                </li>
                                <li class="pagination-item pagination-item__page next" data-page="3">
                                    <a class="pagination-link" style="height: 24px;">
                                        <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                             viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                             stroke-linecap='round' stroke-linejoin='round'
                                             class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__grid-wrapper">

                        <!-- Product in Subscategory -->
                        @foreach (var subcategory in Model.listSubCategory)
                        {
                            <p class="product__grid-title text-center">@subcategory.SubCategoryName</p>
                        }
                    <div class="product__grid-inner w-100 d-flex flex-wrap">
                        @foreach (var product in Model.listProduct)
                        {
                            <div class="product product-3">
                                <a class="product-img" href="product-detail.html">
                                    <img src="assets/images/products/black.jpg" alt="">
                                </a>
                                <div class="product-label d-flex justify-content-end align-items-center w-100" style="background-color: #fff; padding: 3px 0;">
                                    <span class="label-sales">-10%</span>
                                    <span class="label-new">Mới</span>
                                    <span class="label-hot">Hot</span>
                                    <a class="product-heart" style="cursor: pointer;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="#333"
                                             stroke-width="1" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="add-to-wishlist feather feather-heart">
                                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                                <hr style="width: 50%; margin: 0 auto;">
                                <div class="product__info">
                                    <div class="product__info-detail text-center">
                                        <div class="product-brand align-items-center">
                                            Shop Demo 01
                                        </div>
                                        <div class="product-name mb-0">
                                            @product.ProductName
                                        </div>
                                        <div class="product-name">(Tạm hết đến ngày 09/04/2022)</div>
                                        <div class="product-subprice">200.020.000 đ</div>
                                        <div class="product-price">180.030.000 đ</div>
                                        <div class="product-btn">
                                            <a href="">Xem nhanh</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                        <!-- Product in Subscategory -->
                        <p class="product__grid-title text-center">Quần áo</p>
                        <div class="product__grid-inner w-100 d-flex flex-wrap">
                            <div class="product product-3">
                                <a class="product-img" href="product-detail.html">
                                    <img src="assets/images/products/jacket1.jpg" alt="">
                                </a>
                                <div class="product-label d-flex">
                                    <span class="label-sales"> -10%</span>
                                    <span class="label-new">Mới</span>
                                    <span class="label-new">Hot</span>
                                    <a class="product-heart" style="cursor: pointer;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="#333"
                                             stroke-width="1" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="add-to-wishlist feather feather-heart">
                                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                                <hr style="width: 50%; margin: 0 auto;">
                                <div class="product__info">
                                    <div class="product__info-detail text-center">
                                        <div class="product-brand align-items-center">
                                            Shop Demo 01
                                        </div>
                                        <div class="product-name mb-0">
                                            Omega Speedmaster Moonwatch Professional, 42
                                            mm
                                        </div>
                                        <div class="product-name">(Hàng sắp về)</div>
                                        <div class="product-subprice">200.020.000 đ</div>
                                        <div class="product-price">180.030.000 đ</div>
                                        <div class="product-btn">
                                            <a href="">Xem nhanh</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product product-3">
                                <a class="product-img" href="/product-detail.html">
                                    <img src="assets/images/products/jacket2.jpg" alt="">
                                </a>
                                <div class="product-label d-flex">
                                    <span class="label-sales"> -10%</span>
                                    <a class="product-heart" style="cursor: pointer;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="#333"
                                             stroke-width="1" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="add-to-wishlist feather feather-heart">
                                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                                <hr style="width: 50%; margin: 0 auto;">
                                <div class="product__info text-center">
                                    <div class="product__info-detail">
                                        <div class="product-brand">
                                            Shop Demo 01
                                        </div>
                                        <div class="product-name mb-0">Samsung Galaxy S21 Ultra 5G</div>
                                        <div class="product-name">(Hàng có sẵn)</div>
                                        <div class="product-subprice">200.020.000 đ</div>
                                        <div class="product-price">190.030.000 đ</div>
                                        <div class="product-btn">
                                            <a href="">Xem nhanh</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product product-3">
                                <a class="product-img" href="/product-detail.html">
                                    <img src="assets/images/products/jacket4.jpg" alt="">
                                </a>
                                <div class="product-label d-flex">
                                    <span class="label-new">Mới</span>
                                    <span class="label-new">Hot</span>
                                    <a class="product-heart" style="cursor: pointer;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="#333"
                                             stroke-width="1" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="add-to-wishlist feather feather-heart">
                                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                                <hr style="width: 50%; margin: 0 auto;">
                                <div class="product__info">
                                    <div class="product__info-detail text-center">
                                        <div class="product-brand align-items-center">
                                            Shop Demo 01
                                        </div>
                                        <div class="product-name mb-0">Samsung Galaxy S21 Ultra 5G</div>
                                        <div class="product-name">(Hàng sắp về)</div>
                                        <div class="product-subprice">200.020.000 đ</div>
                                        <div class="product-price">190.030.000 đ</div>
                                        <div class="product-btn text-center">
                                            <a href="">Xem nhanh</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="filter__control-bottom">
                        <!-- Number / total -->
                        <div class="filter__number">
                            <div class="text">Hiển thị: </div>
                            <div class="number">
                                <span>999</span>
                                /
                                <span class="totalItems">1000</span>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="filter__pagination">
                            <ul class="pagination">
                                <li class="pagination-item pagination-item__page previous" data-page="1">
                                    <a class="pagination-link pagination-item__page" style="height: 24px;">
                                        <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                             viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                             stroke-linecap='round' stroke-linejoin='round'
                                             class='feather feather-chevron-left'>
                                            <polyline points='15 18 9 12 15 6'></polyline>
                                        </svg>
                                    </a>
                                </li>
                                <li class="pagination-item pagination-item__page" data-page="1">
                                    <a class="pagination-link">1</a>
                                </li>
                                <li class="pagination-item pagination-item__page active" data-page="2">
                                    <a class="pagination-link">2</a>
                                </li>
                                <li class="pagination-item pagination-item__page" data-page="3">
                                    <a class="pagination-link">3</a>
                                </li>
                                <li class="pagination-item pagination-item__page next" data-page="3">
                                    <a class="pagination-link" style="height: 24px;">
                                        <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                             viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                             stroke-linecap='round' stroke-linejoin='round'
                                             class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>