@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_LayoutClientNoBanner.cshtml";
}
<!-- Main content -->
<div class="custom-container">
    <div class="content__inner">
        <ul class="web__directional">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="@Url.Action("Index","Cart")">Giỏ hàng</a></li>
        </ul>
        <div class="cart-content">
            <div class="cart-title text-center">GIỎ HÀNG</div>
            <div class="cart-body d-flex flex-wrap">
                <div class="primary-cartcontent">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.minicart-content').remove(); 
        var cart = JSON.parse(localStorage.getItem("_cart"));

        // render Html
        renderCart(cart);
        function renderCart(cart) {
            if (!cart) {
                $('.primary-cartcontent').html(`
                    <div class="cart-bottom">
                        <button class="btn-black continue-shopping d-inline-block text-center " href="payment.html">
                            <strong>Tiếp tục mua sắm</strong>
                        </button>
                    </div>
                    <div class="text-center">
                        Chưa có sản phẩm
                    </div>
                `)
                return;
            }

            $('.primary-cartcontent').html(htmlCart());
            renderProduct(cart.items);
            renderOrderSummary(cart, 0);
        }
        function renderProduct(items) {
            $('.cart-products').empty();
            items.forEach(function (item, index) {
                var id = item.id;
                var type = item.type;
                var name = item.name;
                var img = item.img;
                var opts = item.opts;
                var qty = item.qty;
                // call api to get product price by type
                $.get('/api/CartAPI/GetProductPrice', { id: id, type: type }, function (response) {
                    var objPrice = {
                        price: response.price,
                        priceOnSell: response.priceOnSell
                    }
                    // render html
                    $('.cart-products').append(htmlProductInCart(img, name, opts, qty, objPrice, index));
                })
            })
        }
        function renderOrderSummary(_cart, discount) {
            $('.secondary-cartcontent').remove();
            if (!_cart.items) {
                return;
            }

            var request = [];
            _cart.items.forEach(function (item) {
                request.push({
                    id: item.id,
                    typeId: item.type,
                    qty: item.qty
                })
            })
            $.ajax({
                url: '/api/CartAPI/getCartTotalPrice',
                data: JSON.stringify(request),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                success: function (data) {
                    $('.cart-body').append(htmlOrderSummary(_cart.qty, data, discount));
                },
                error: function (error) {
                    console.log('error--', error)
                }
            });
        }

        // Html
        function htmlCart() {
            var html = `
                <div class="cart-head">
                    <span>
                        <strong>Sản phẩm</strong>
                    </span>
                    <span class="">
                        <strong>Số lượng</strong>
                    </span>
                    <span class="">
                        <strong>Thành tiền</strong>
                    </span>
                </div>
                <div class="cart-products">

                </div>
                <div class="cart-bottom">
                    <button class="btn-black continue-shopping d-inline-block text-center " href="payment.html">
                        <strong>Tiếp tục mua sắm</strong>
                    </button>
                </div>
            `;
            return html;
        }
        function htmlOrderSummary(qty, temp, discount) {
            var htmlDiscount = 0;
            var total = temp - htmlDiscount
            if (discount != 0) {
                var discountValue = discount.value;
                htmlDiscount = `-${new Intl.NumberFormat().format(discount.value)} ₫`;
                if (discount.isPercent) {
                    discountValue = (temp * discount.value / 100);
                    htmlDiscount = `-${new Intl.NumberFormat().format(discountValue)} ₫ (${discount.value}%)`;
                }
                total = temp - discountValue;
            }
            return `
                <div class="secondary-cartcontent">
                    <div class="cart-head mb-0" style="visibility: hidden;">
                        <span class="text-center">ĐƠN HÀNG CỦA BẠN</span>
                    </div>
                    <div class="order-summary">
                        <div class="order-summary-title text-center">
                            <span>ĐƠN HÀNG CỦA BẠN</span>
                        </div>
                        <div class="payment-coupon">
                            <div class="d-flex">
                                <div class="input-coupon">
                                    <input class="coupon" type="text" placeholder="MÃ GIẢM GIÁ">
                                </div>
                                <button class="submit-coupon btn-black" style="border: 1px solid #333;">
                                    <strong>ÁP DỤNG</strong>
                                </button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span>Số lượng:</span>
                            <span class="order-summary_totalqty">${qty}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span>Tạm tính:</span>
                            <span class="order-summary_tempprice">${new Intl.NumberFormat().format(temp)} ₫</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span>Giảm giá:</span>
                            <span class="order-summary_discount">${htmlDiscount}</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between mb-4">
                            <span>TỔNG CỘNG:</span>
                            <span>
                                <strong class="order-summary_totalprice">${new Intl.NumberFormat().format(total)} ₫</strong>
                            </span>
                        </div>
                        <button class="w-100 checkout btn-black" onclick="window.location.href='payment.html'" style="border: 1px solid #333;">
                            <strong>THANH TOÁN</strong>
                        </button>
                    </div>
                </div>
            `
        }
        function htmlProductInCart(img, name, opts, qty, objPrice, index) {
            var price;
            if (!objPrice.priceOnSell) {
                price = `
                    <div class="price">
                        <span class="value">${new Intl.NumberFormat().format(objPrice.price)}</span>
                        <span>₫</span>
                    </div>
                `;
            } else {
                price = `
                    <div class="price" style="text-decoration: line-through">
                        <span class="value">${new Intl.NumberFormat().format(objPrice.price)}</span>
                        <span>₫</span>
                    </div>
                    <div class="price">
                        <span class="value">${new Intl.NumberFormat().format(objPrice.priceOnSell)}</span>
                        <span>₫</span>
                    </div>
                `;
            }
            var options = ``;
            if (opts.length) {
                options = `
                    <div>(${opts.join(', ')})</div>
                `
            }
            var total = `
                <span class="total-value">${new Intl.NumberFormat().format(objPrice.price * qty)}</span>
            `
            if (objPrice.priceOnSell) {
                total = `<span class="total-value">${new Intl.NumberFormat().format(objPrice.priceOnSell * qty)}</span>`;
            }
            var html = `
                <div class="cart-product d-flex flex-wrap w-100">
                    <div class="cart-product__image">
                        <img src="${img}" alt="">
                    </div>
                    <div class="cart-product__info">
                        <div class="cart-product--auto">
                            <div><strong>${name}</strong></div>
                            <div>Shop Demo 02</div>
                                ${options}
                                ${price}
                        </div>
                        <div class="cart-product--col">
                            <input id="${index}" class="cart-product__amount" type="number" value="${qty}" min="1">
                        </div>
                        <div class="cart-product--col totalprice">
                            <span class="total-value" id="total_${index}">${total}</span>
                            <span>₫</span>
                        </div>
                    </div>
                    <span class="cart-product__remove d-flex" value="${index}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </span>
                </div>
            `;
            return html;
        }

        // Remove product in cart
        $(document).on('click', '.minicart-remove', function () {
            var _cart = JSON.parse(localStorage.getItem("_cart"));

            renderCart(_cart);
            window.localStorage.setItem("_cart", JSON.stringify(_cart));
        });
        // Change product qty
        $(document).on('change', '.cart-product__amount', function () {
            var _cart = JSON.parse(localStorage.getItem("_cart"));

            const index = $(this).attr('id');
            const qty = $(this).val();

            $.get('/api/CartAPI/GetProductPrice', { id: _cart.items[index].id, type: _cart.items[index].type }, function (response) {
                var total = response.price * qty;
                if (response.priceOnSell) {
                    total = response.priceOnSell * qty;
                }

                var cartQty = 0;
                _cart.items[index].qty = qty;
                _cart.items.forEach(function (item) {
                    cartQty = +cartQty + +item.qty;
                })
                _cart.qty = cartQty;

                // render html
                $(`#total_${index}`).html(`${new Intl.NumberFormat().format(total)}`);
                $('.minicart .quantity').html(_cart.qty);

                renderOrderSummary(_cart);
                window.localStorage.setItem("_cart", JSON.stringify(_cart));
            })
        });
        // Submit coupon
        $(document).on('click', '.submit-coupon', function () {
            $.get('/api/CartAPI/GetDiscountValue', { code: $('.coupon').val() })
                .then(function (response) {
                    var _cart = JSON.parse(localStorage.getItem("_cart"));
                    renderOrderSummary(_cart, response);
                })
                .catch(function (error) {
                    alert(error.responseText)
                })
        });
    })
</script>
